.mango-absolute() {
  position: absolute;
  content: '';
  background-color: rgb(24, 144, 255);
  transition: transform 0.5s ease 0s;
}

.mango-transform-1 {
  .mango-absolute();
  top: 0px;
  bottom: 0px;
  width: 2px;
  transform: scaleY(0);
  transform-origin: top;
}

.mango-transform-1-hover {
  transform: scaleY(1);
  transition: transform 0.5s ease 0s;
}

.mango-transform-2 {
  .mango-absolute();
  left: 0px;
  right: 0px;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
}

.mango-transform-2-hover {
  transform: scaleX(1);
  transition: transform 0.5s ease 0s;
}

.mango-pillars-1::before {
  left: -8px;
  .mango-transform-1();
}

.mango-pillars-1:hover::after,
.mango-pillars-1:hover::before {
  .mango-transform-1-hover();
}

.mango-pillars-1::after {
  right: -8px;
  .mango-transform-1();
}

.mango-pillars-2::before {
  top: -8px;
  .mango-transform-2();
}

.mango-pillars-2:hover::after,
.mango-pillars-2:hover::before {
  .mango-transform-2-hover();
}

.mango-pillars-2::after {
  bottom: -8px;
  .mango-transform-2();
}

.mango-pillars-3::before {
  left: -8px;
  .mango-transform-1();
}

.mango-pillars-3:hover::after,
.mango-pillars-3:hover::before {
  .mango-transform-1-hover();
}

.mango-pillars-3::after {
  right: -8px;
  .mango-transform-1();
  transform-origin: bottom;
}

.mango-strike-through::before {
  .mango-absolute();
  height: 2px;
  top: 50%;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.mango-strike-through:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease 0s;
}

.mango-under-line-1::before {
  .mango-absolute();
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.mango-under-line-2::before {
  .mango-absolute();
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(1);
  transform-origin: left;
}

.mango-under-line-2:hover::before {
  transform: scaleX(0);
  transition: transform 0.5s ease 0s;
}

.mango-under-line-3::before {
  .mango-absolute();
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: center;
}

.mango-under-line-1:hover::before,
.mango-under-line-3:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease 0s;
}

.mango-over-line-1::before {
  .mango-absolute();
  height: 2px;
  left: 0;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: center;
}

.mango-over-line-1:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease 0s;
}

.mango-over-line-2::before {
  .mango-absolute();
  height: 2px;
  left: 0;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.mango-over-line-2:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease 0s;
}

.mango-highlight-1::before {
  .mango-absolute();
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  z-index: -1;
}

.mango-highlight-1:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease 0s;
  transform-origin: left;
}

.mango-highlight-2::before {
  .mango-absolute();
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scaleY(0.1);
  transform-origin: bottom;
  z-index: -1;
}

.mango-highlight-2:hover::before {
  transform: scaleY(1);
  transition: transform 0.5s ease 0s;
}

.mango-bubble-transform {
  position: absolute;
  z-index: -1;
  width: 1em;
  height: 1em;
  content: '';
  background-color: #1890ff;
  border-radius: 50%;
  transition: transform 0.45s ease-in-out;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transform-origin: center;
}

.mango-bubble-1::before {
  .mango-bubble-transform();
  top: 100%;
  left: 100%;
}

.mango-bubble-2::before {
  .mango-bubble-transform();
  top: 100%;
  right: 100%;
}

.mango-bubble-3::before {
  .mango-bubble-transform();
  right: 100%;
  bottom: 100%;
}

.mango-bubble-4::before {
  .mango-bubble-transform();
  left: 100%;
  bottom: 100%;
}

.mango-bubble-4:hover::before,
.mango-bubble-3:hover::before,
.mango-bubble-2:hover::before,
.mango-bubble-1:hover::before {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  transform-origin: center;
}
