/* mango-fade-transform */
.mango-fade-transform-leave-active,
.mango-fade-transform-enter-active {
    transition: all 0.5s;
}

.mango-fade-transform-enter-from {
    opacity: 0;
    transform: translateX(-50px);
}

.mango-fade-transform-leave-to {
    opacity: 0;
    transform: translateX(50px);
}

/* mango-down-transform */
.mango-down-transform-leave-active,
.mango-down-transform-enter-active {
    transition: all 0.5s;
}

.mango-down-transform-enter-from {
    opacity: 0;
    transform: translateY(-50px);
}

.mango-down-transform-leave-to {
    opacity: 0;
    transform: translateY(50px);
}

/* mango-scale-transform */
.mango-scale-transform-leave-active,
.mango-scale-transform-enter-active {
    transition: all 0.5s;
}

.mango-scale-transform-enter-from {
    opacity: 0;
    transform: scale(2);
}

.mango-scale-transform-leave-to {
    opacity: 0;
    transform: scale(0.5);
}

/* mango-opacity-transform */
.mango-opacity-transform-leave-active,
.mango-opacity-transform-enter-active {
    transition: all 0.5s;
}

.mango-opacity-transform-enter-from {
    opacity: 0;
}

.mango-opacity-transform-leave-to {
    opacity: 0;
}

/* breadcrumb transition */
.mango-breadcrumb-enter-active,
.mango-breadcrumb-leave-active {
    transition: all 0.5s;
}

.mango-breadcrumb-enter-from,
.mango-breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
}

.mango-breadcrumb-move {
    transition: all 0.5s;
}

.mango-breadcrumb-leave-active {
    position: absolute;
}

/* header transition */
.mango-header-enter-active,
.mango-header-leave-active {
    transition: all 0.5s;
}

.mango-header-enter-from,
.mango-header-leave-active {
    opacity: 0;
    transform: translateX(100%);
}

.mango-header-move {
    transition: all 0.5s;
}

/* logo transition */
.mango-logo-enter-active,
.mango-logo-leave-active {
    transition: all 0.5s;
}

.mango-logo-enter-from,
.mango-logo-leave-active {
    opacity: 0;
    transform: translateY(-100%);
}

.mango-logo-move {
    transition: all 0.5s;
}
