.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 10px;

  .title {
    color: var(--m-text);
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    background-color: transparent; /* 确保背景透明 */
  }

  .line {
    display: inline-block;
    background-color: var(--m-primary);
    margin-right: 10px;
    width: 3px;
    height: 16px;
  }
}
