# Created by .gitignore support plugin (hsz.mobi)
.idea/
*.pyc
*.log
.logs/*
logs/*
files/*
database_config.json
PyAutoTest/auto_test/auto_api/migrations/*
PyAutoTest/auto_test/auto_ui/migrations/*
PyAutoTest/auto_test/auto_user/migrations/*
PyAutoTest/auto_test/auto_system/migrations/*
PyAutoTest/auto_test/auto_perf/migrations/*