# Created by .gitignore support plugin (hsz.mobi)
.idea/
*.pyc
*.log
.logs/*
logs/
mango-file/
failed_screenshot/
src/settings/database.json
src/auto_test/auto_pytest/mango_pytest/
mango_pytest/