# Created by .gitignore support plugin (hsz.mobi)
.idea/
*.pyc
*.log
auto_ui/mini_ui/test_case/.pytest_cache/*
auto_ui/mini_ui/test_case/outputs/*
.logs/*
logs/*
cache_flie/*
dist/*
MangoActuator.spec
build/*