# Created by .gitignore support plugin (hsz.mobi)
.idea/
.venv/
*.pyc
*.log
build/
dist/
logs/
cache/
venv/
screenshot/
upload/
videos/
download/
tests/*.json
mango_pytest/
allure/
*.spec
__pycache__/
browser_cache/
main.build/
main.dist/
nuitka-crash-report.xml
