Faker==17.6.0
colorlog==6.7.0
assertpy==1.1
pyinstaller==5.8.0
weditor==0.6.4
jsonpath==0.82
uiautomator2 == 2.16.22


playwright==1.32.1

websockets==10.4
websocket-client==1.5.1
aiocache==0.12.1
aiohttp==3.8.4
aiomysql==0.0.22

